.buttonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.moreButton {
    display: block;
    margin: 20px 0;
    width: 150px;
    border-radius: 5px;
    background-color: #3747ac;
    color: #f1f1f1;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;
}
